.Backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1200;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--backdrop);
}

.Modal {
  position: relative;
  display: inline-flex;
  padding: 25px 12px 12px;
  min-height: 400px;
  max-width: calc(100vw - 72px);
  max-height: calc(100vh - 48px);
  border-radius: 3px;
  background-color: var(--white);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  overflow: auto;
}

.CloseModal {
  position: absolute;
  z-index: 2;
  top: 5px;
  right: 5px;
  padding: 8px;
  font-size: 0;
  fill: var(--light-purple);
  background-color: var(--white);
  outline: 3px solid var(--light-purple);
}

.CloseModal:hover {
  fill: var(--white);
  background-color: var(--light-purple);
  outline: 3px solid var(--white);
}

img {
  width: 100%;
  object-fit: cover;
}
